body
{
    background-image: url("brandon-siu-608784-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    height:2000px;
}
h1
{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 0;
}
h1:hover
{
    color: aqua;
    border-color: aqua;
    cursor:pointer
}
p
{
    font-size: 30px;
    line-height: 2;
    margin: 0 160px;
    color: #fff
}
img
{
    height: 37%;
    margin: 50px 150px;
    width: 76%;
}